<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1RA_EVA_4_OUTLIST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>102791FF1E45008300B5CAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>102792131E45008300B5CAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1027921E1E45008300B5CAA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
