<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EXA_PRAC1_13550350.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>105776061E65E57D00824913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1057761A1E65E57E00824913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105776251E65E57E00824913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
